@import 'nib'

@import url(https://fonts.googleapis.com/css?family=Lato)

$cardinal-red = #8C1515
$cool-gray = #4D4F53

body
  font-family Lato

h1, h2
  color $cardinal-red
  margin-top 10px

a, a:hover
  color: $cardinal-red

h3, h4
  font-weight bold

.red
  color $cardinal-red

.vertical-center
  display flex
  align-items center

.panel-body
  font-size 12pt

.paper-img
  @extend .vertical-center
  min-height 150px

.project-img
  @extend .vertical-center
  min-height 200px

.paper + .paper
  //border-top 2px solid #ccc

.selectable
  cursor: default;
